{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "include": [
    "src/**/*.ts",
    "providers/**/*.ts"
  ],
  "exclude": [
    "src/Bindings/Repl/index.ts",
    "src/TagSet.ts"
  ]
}
